# Python cached files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
staticfiles_build/

# Virtual environment
.venv
venv/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Vercel
.vercel/ 